* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/*-----Navbar-----*/


.navbar {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.logo img {
    height: 25px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}



.launch button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 12px;
}
.launch button:hover{
    background: white;
    color: black;
}


/*------hero------*/


.hero{
    position: relative;
    height: 1000px;
    overflow: hidden;


}
.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    max-width: 600px;
    padding-bottom: 250px;
}
.section-text.left {
    left:100px;
}
.section-text.right {
    right: 100px;
}

.section-text h1 {
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 20px;
}
.section-text p {
    color:#ddd;
    margin-bottom: 30px;
    line-height: 1.6;
}
.section-text button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
}
.section-text button:hover {
    background: white;
    color: black;
}

/*-----Footer----*/

.footer{
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    font-size: 12px;
    letter-spacing: 1px;
}
.footer-center {
    display: flex;
    gap: 40px;
}
.footer-center a {
    text-decoration: none;
    color: white;
}
.footer-center a:hover {
    opacity:0.7;
}
.social{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social img {
    width: 16px;
    height: 16px;
}